* {

  font-family: 'Arial', sans-serif;

}

body {

  background-image: url(/static/img/hi.res.crt.png);
  background-size: cover;

}

/* ===== LOGO FULL HOUSE ===== */
.full-house {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 224px;
  height: 40px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.game-card {
  background-color: #04273D;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-poster {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #333;
}

.game-content {
  padding: 1rem;
}

.game-title {
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
  color: #FF524F;
}

.game-price {
  color: #a4d007;
  font-weight: bold;
}

.screenshots {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0;
}

.screenshot {
  width: 45%;
  border-radius: 4px;
}

.trailer-container {
  margin-top: 1rem;
  background: #000;
}

.trailer {
  width: 100%;
  height: 150px;
}

.api-status {
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  margin-left: 250px;
  border-radius: 5px;
}

.api-status.working {
  background-color: green;
}

.api-status.failed {
  background-color: red;
}

.btn-profile {

  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  background: #FF524F;
  color: #fff;

}

.btn-profile:hover {

  background: #ca413f;

}